.NovyZakladatel{
	padding: 25px;
}
.Header{
display: flex;
justify-content: center;
font-size: 1.5rem;
margin-bottom:50px;
color:#7A9AA5;
}
.Controls{
	display: flex;
	justify-content: center;
	margin-top: 50px;

}
.ControlsZrusit{
	width: 40%;
}
.ControlsUlozit{
	width: 40%;
	display: flex;
	justify-content: flex-end;
}
.InputContainer{
	display: flex;
	flex-direction: column;
	margin-left: 51px;
}
.InputWrapper{
	display: flex;
	align-items: center;
}

.NovyZakladatel select{
	text-align: center;
	width: 200px;
	color:grey;
	background-color: #EEF4F2;
	border:1px solid #7A9AA5;
	border-radius: 6px;
	height: 35px;
}

.NovyZakladatel label{
color:#7A9AA5;
font-size: 1.1rem;
font-weight: 500;
margin:10px 0;
}