.Modal {
    z-index: 1200;
    background-color: white;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 16px;
    box-sizing: border-box;

    top:250px;
}
.ModalContainer{
    position: absolute;
    left:0;
    top:150px;
    margin-bottom: 200px;
    right: 0;
    display: flex;
    justify-content: center;
}

@media (min-width: 576px) { 
/*// small devices (tablets, 768px and up)*/
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
 
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
.Modal{
margin: 0 auto;
max-width: 1200px;
 }
}
