.obchodneMeno{
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-top: 50px;
}
.inputs{
display: flex;
flex-direction: column;
}

.inputs input{
width:200px;
height: 35px;
color:grey;
padding: 15px;
background-color: #EEF4F2;
}
.ValidationIcon{
	margin:0 10px;
}
.inputs select{
	width: 200px;
	color:grey;
	background-color: #EEF4F2;
	border:none;
	height: 35px;
}
.itemContainer{
	display: flex;
}
.error{
	display: flex;
	justify-content: flex-start;
	color:red;
}
.InputsContainer{
display: flex;
flex-direction: column;
}
.InputsInnerContainer{
	display: flex;
	flex-direction: column;
}
@media (min-width: 576px) { 
/*// small devices (tablets, 768px and up)*/
.inputs input{
margin: 0px 10px;
margin-left: 0px;
width: 300px;
height: 35px;
color:grey;
padding: 15px;
background-color: #EEF4F2;
}
.inputs select{
	width: auto;
}
.InputsContainer{
margin-left:0px;
}
.InputsInnerContainer{
	flex-direction: row;
}
.itemContainer{
	flex-direction: row;
}
.InputsContainer{
	display: flex;

}
.inputs{
display: flex;
flex-direction: row;
}

.obchodneMeno{
	margin-left: 50px;
	margin-top: 50px;
}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
.obchodneMeno{
	margin-left: 50px;
	margin-top: 50px;
}
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
.obchodneMeno{
	margin-left: 150px;
	margin-top: 50px;
}
  }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
.obchodneMeno{
	margin-left: 200px;
	margin-top: 50px;
}
 }
