.Button {
	background-color:#D9754E;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #be5e38;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	padding:15px;
	text-decoration:none;
	text-align: center;
	min-width: 200px;
}
.Button:hover {
	background-color:#a34724;
	text-decoration: none;
	color: white;
}
.Button:active {
	position:relative;
	top:1px;
}
.Left{
	padding:0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.Right{
	padding:0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.Top{
	padding:0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
.Bottom{
	padding:0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.ObchodneMeno{
	padding:0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;	
}
@media (min-width: 576px) { 
.Button{
	min-width: 130px;
}
.ObchodneMeno{
	padding:0px;
	border-top-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
.Button{
	min-width: 200px;
}

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }