.subMenu {
	width: 100%;
  background-color: blue;
  position: absolute;
  left:0;
  top:0;
  z-index: 5;
  transition: transform 0.3s ease-out;
}
.subMenu a {
  color: #999;
  transition: ease-in-out color .15s;
}
.subMenu a:hover {
  color: red;
  text-decoration: none;
}

.Open{
transform: translateY(48px);
}

.Close{
transform: translateY(0);
}
