.ActiveNav{
  border-bottom: 3px solid #D9754E;
}
.dropDown{
  height: 100%;
  display: none;
  padding: 0px 5px;
}
.siteHeader {
  display: flex;
  background-color: #222B31;
  min-height: 75px;
 /* border-bottom: 1px solid #CDD6D5;*/
}
.siteHeader div{
min-height: 40px;
}
.siteHeader a {
  color: #999;
  transition: ease-in-out color .15s;
}
.siteHeader a:hover {
  color: #fff;
  text-decoration: none;
}

.dropdownContent{
  top:75px;
  display: none;
  min-width: 200px;
  width: 120%;
  justify-content: center;
  background-color: black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: 1s ease-in-out;
}

.dropdownContent a {
  float: none;
  color: #999;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdownContent a:hover {
color:white;
}

.dropdownDisplay {
  background-color: #222B31;
  justify-content: center;
  display: flex;
  flex-direction: column;

}

.dropdown:hover a span {
  color:white;
}
.dropdown{
  height: 100%;
}
.dropdown:hover div svg path{
fill:white;
transform: rotate(180);
}

.displayBlock{
  display: none !important;
}

  .navContainer{
  display: flex;
  justify-content: center;
  }
@media (min-width: 576px) { 

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .dropdownContent{
    position: absolute;
  }
  .navContainer{
display: flex;
align-items: center;
}
.dropDown{
display: flex !important;
align-items: center;
}


}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }