.siteHeader {
  display: flex;
  background-color: black;
  min-height: 64px;
}
.siteHeader div{
min-height: 40px;
}
.siteHeader a {
  color: #999;
  transition: ease-in-out color .15s;
}
.siteHeader a:hover {
  color: #fff;
  text-decoration: none;
}

.dropdownContent{
  top:55px;
  display: none;
  min-width: 200px;
  width: 120%;
  justify-content: center;
  background-color: black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: 1s ease-in-out;
}

.dropdownContent a {
  float: none;
  color: #999;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdownContent a:hover {
color:white;
}

.dropdownDisplay {
  background-color: black;  
  justify-content: center;
  display: flex;
  flex-direction: column;

}

.dropdown:hover a span {
  color:white;
}

.dropdown:hover div svg path{
fill:white;
transform: rotate(180);
}

.displayBlock{
  display: none !important;
}

@media (min-width: 576px) { 

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .dropdownContent{
    position: absolute;
  }

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }